<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="stopwatch.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>    
  <supportedRuntime version="v2.0.50727"/> 
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <userSettings>
    <stopwatch.Properties.Settings>
      <setting name="ontop" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="list_size" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="report_size" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="report_1perDay" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="date1" serializeAs="String">
        <value />
      </setting>
      <setting name="date2" serializeAs="String">
        <value />
      </setting>
      <setting name="PerformMax" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="pFactor" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="HotKey" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="report_path" serializeAs="String">
        <value>C:\</value>
      </setting>
      <setting name="FirstUse" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Last_Report_Save" serializeAs="String">
        <value>2014-06-01</value>
      </setting>
      <setting name="PerformMax2" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PerformMax3" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AddGage" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="auto_update" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="remove_pids" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="manage_settings" serializeAs="String">
        <value />
      </setting>
      <setting name="latitude" serializeAs="String">
        <value>35.6892</value>
      </setting>
      <setting name="longitude" serializeAs="String">
        <value>51.389</value>
      </setting>
      <setting name="NeedUpgrade" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="city" serializeAs="String">
        <value />
      </setting>
    </stopwatch.Properties.Settings>
  </userSettings>
</configuration>
